/* prompt.css */
/* 
.input-field {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 50%;
  margin: 10px;
  overflow-y: scroll;
}

.textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 50%;
  margin: 10px;
  overflow-y: scroll;
} */

/* General body styling */
.main {
  font-family: Arial, sans-serif;
  background-color: #dbdcdd;
  color: #333;
  margin: 10px;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 30px;
  
}


/* Style input fields */
.input-field {
  width: 100%;
  padding: 8px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style select dropdown */
select {
  width: 100%;
  padding: 8px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: white;
  margin-top: 8px;
}

.queryButton{
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Style buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Editor styling */
.Editor {
  font-family: 'Fira Mono', monospace;
  background-color: #e8e8e8;
  border: 1px solid #ccc;
  width: 100%;
  min-height: 150px;
  padding: 10px;
}

/* Error message styling */
div.Error {
  color: #ff0000;
}

/* Loading message styling */
div.Loading {
  font-weight: bold;
}

/* Grid styling */
.ag-theme-alpine {
  height: 100%;
  width: 100%;
}
