/* prompt.css */

.input-field {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 50%;
  margin: 10px;
  overflow-y: scroll;
}

.textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 50%;
  margin: 10px;
  overflow-y: scroll;
}